<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <pre>Индекс животного: {{animal_info.index}}
    Возраст животного на момент прибытия в приют: {{animal_info.age_upon_outcome}}
    ID Животного: {{animal_info.animal_id}}
    Тип Животного: {{animal_info.animal_type}}
    Имя: {{animal_info.name}}
    Порода: {{animal_info.breed}}
    Дата рождения: {{animal_info.date_of_birth}}
    Расцветка: {{animal_info.colors}}
    Программа в которой участвует животное: {{animal_info.outcome_subtype}}
    Что сейчас с животным: {{animal_info.outcome_type}}
    Месяц прибытия: {{animal_info.outcome_month}}
    Год прибытия: {{animal_info.outcome_year}}</pre>
</body>
</html>